%-*-mode: erlang-*-
{lib_dirs, ["deps"]}.
{src_dirs, ["src"]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{recursive, false}.
{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.2"}}},
    {resource_discovery, ".*", {git, "https://github.com/jdsieci/resource_discovery.git", "HEAD"}}
  ]}.
{post_hooks, [{compile, "cp ./src/sys.config ./ebin/sys.config"}]}.
{erl_opts, [warnings_as_errors,
            warn_export_all,
            {parse_transform, lager_transform},
            {parse_transform, cut},
            {parse_transform, do},
            {parse_transform, import_as}
]}.
